<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ephemerayne.reminder">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.ephemerayne.reminder.App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.NyxReminderKotlin">
        <activity android:name="com.ephemerayne.reminder.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.ephemerayne.reminder.utils.notifications.AlarmReceiver"
            android:enabled="true" />

        <service
            android:name="com.ephemerayne.reminder.utils.notifications.NotificationsService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>
</manifest>